.wrapper {
  position: relative;
  margin: 1rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 9999;
}

.image-holder {
  position: absolute;
  top: 0;
  background-color: rgb(208, 180, 255);
}
