.wrapper {
  position: relative;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 1rem;
}

.canvas {
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 9999;
}

.webcam {
  position: absolute;
  top: 0;
  background-color: rgb(208, 180, 255);
}

.menu {
  display: flex;
  gap: 0.75rem;
  margin: auto;
  width: fit-content;
  margin-top: 1rem;
}

.prediction-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: auto;
  width: fit-content;
  margin-top: 1rem;
}

.prediction {
  background-color: rgb(116, 82, 230);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
